/* NAVBAR --------- */

.navbar-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-logo {
  width: 40px;
  height: 40px;

}





/* SIDEBAR */
.sidebar {
  width: 220px;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: -220px;
  transition: left 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar.open {
  left: 0;
}

.toggle-btn {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 10px 10px 10px 50px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #00bcd4;
}

.hamburger-btn {
  margin: 10px 0px 0px 200px;
}

.bar {
  display: block;
  width: 25px;
  height: 1px;
  background-color: black;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* coba */
.coba {
  height: 2000px;
}
